trainer:
  max_epochs: 50
  accelerator: 'gpu'
  default_root_dir: 'experiments/boltzmann/'
  callbacks:
    class_path: lightning.pytorch.callbacks.ModelCheckpoint
    init_args:
      filename: 'best'
      monitor: 'val_R2Score'
      save_top_k: 1
      mode: 'max'

data:
  path_to_X: '/home/asarikas/databases/MOFXDB/hMOF/voxels_data_GS32/'
  path_to_Y: '/home/asarikas/databases/MOFXDB/hMOF/hMOF.csv'
  index_col: 'name'
  labels: null
  train_size: Null  # It will be overwritten on the fly
  train_transform_x:
    class_path: torchvision.transforms.v2.Compose
    init_args:
      transforms:
        - class_path: retnext.transforms.AddChannelDim
        - class_path: retnext.transforms.BoltzmannFactor
  eval_transform_x:
    class_path: torchvision.transforms.v2.Compose
    init_args:
      transforms:
        - class_path: retnext.transforms.AddChannelDim
        - class_path: retnext.transforms.BoltzmannFactor
  train_batch_size: 32
  eval_batch_size: 256
  drop_last: True
  shuffle: True
  config_dataloaders:
    pin_memory: True
    num_workers: 8
    persistent_workers: True

model:
  criterion:
    class_path: torch.nn.MSELoss
  metric:
    class_path: torchmetrics.MetricCollection
    init_args:
      metrics:
        - class_path: torchmetrics.R2Score
        - class_path: torchmetrics.MeanAbsoluteError
  model:
    class_path: retnext.modules.RetNeXt
